**/.env
**/.env.*
!**/.env.example
**/.git
**/.codex
**/.agents

**/bin
**/dist
**/coverage.out

**/*.log
**/*.tmp

docs
worker
node_modules
.wrangler
.dev.vars
package.json
package-lock.json
tsconfig.json
wrangler.jsonc
